<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Available Services</title>
    <!-- Include htmx -->
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
  </head>
  <body>
    <h1>Available Services</h1>
    <ul>
      <li>
        <a href="https://htmx.org/" target="_blank" rel="noopener">htmx</a>
      </li>
      <li>
        <a href="https://asana.com/" target="_blank" rel="noopener">Asana</a>
      </li>
      <li>
        <a href="https://actix.rs/" target="_blank" rel="noopener">Actix Web</a>
      </li>
    </ul>
  </body>
</html>
